<div>
    <h1 class="text-center" *ngIf="currentUser">Hello {{currentUser.username}}!!!</h1>
</div>
<div class="col-md-4">
    <a class="btn btn-primary" routerLink="/create-note">Create Note</a>
</div>
<hr/>
<div class="row">
    <div class="col-md-3" *ngFor="let note of notes">
        <div class="card mt-2">
            <div class="card-header">
                {{note.title}}
            </div>
            <div class="card-body">
                <p> {{note.note}} </p>
                <small> {{ note.create_date | date }}</small>
                <p style="align-items: center"><a routerLink="/update-note/{{note._id}}"><i class="material-icons">update</i>&nbsp;<span>Edit</span></a></p>
                <p><a (click)="deleteNote(note._id)"><i class="material-icons">delete_forever</i>&nbsp;<span class="text-danger">Delete</span></a></p>
            </div>
        </div>
    </div>
</div>
